{% extends 'base.html' %}

{% block title %}Error de verificación{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Error de verificación</h2>
                    <p class="card-text text-center">Ha ocurrido un error al verificar tu correo electrónico. Por favor, intenta nuevamente más tarde.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
