{% extends 'base.html' %}

{% block title %}Verificación exitosa{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Verificación exitosa</h2>
                    <p class="card-text text-center">Tu correo electrónico ha sido verificado exitosamente. Ahora puedes iniciar sesión en tu cuenta.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
